RewriteEngine On

# Si el archivo o directorio solicitado no existe físicamente,
# toda la petición se enruta al front controller index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]
